@media (max-width: 768px) {
  .universal__wrapper {
    max-width: 768px;
  }
  .universal__wrapper__block {
    max-width: 687px;
  }
  .header {
    height: 89px;
    width: 768px;
  }
  .header .header__logo {
    width: 160px;
    right: 568px;
    left: 40px;
  }
  .header .header__nav {
    width: 434px;
    height: 14px;
    right: 40px;
    top: 39px;
    bottom: 36px;
    left: 290px;
  }
  .header .header__nav .header__button__other::after {
    left: 15px;
  }
  .header .header__nav .header__button__home::after {
    left: 15px;
  }
  .slider {
    width: 768px;
    height: 451.76px;
    left: 2px;
  }
  .slider .slider__content {
    height: 363.73px;
    width: 599.48px;
    left: 83.18px;
    top: 40.59px;
  }
  .slider .slider__controls {
    height: 28.30px;
    width: 711.71px;
    left: 28.41px;
    top: 211.50px;
    right: 26.86px;
    bottom: 207.05px;
  }
  .slider .slider__controls .left {
    left: 29.42px;
    top: 211.50px;
    border-radius: 3px;
  }
  .slider .slider__controls .right {
    left: 724.13px;
    top: 211.50px;
    right: 26.86px;
    bottom: 207.05px;
    border-radius: 3px;
  }
  .service {
    width: 768px;
    height: 635px;
  }
  .service .service__header p {
    width: 687px;
  }
  .service .service__cells {
    margin-top: 28px;
    width: 681px;
    height: 339px;
  }
  .portfolio {
    width: 768px;
    height: 1094px;
  }
  .portfolio .grid {
    height: 793.99px;
    width: 688.85px;
    bottom: 65.4px;
    top: 195px;
    -ms-grid-columns: 220px 220px 220px;
        grid-template-columns: 220px 220px 220px;
    -ms-grid-rows: 187px 187px 187px 187px;
        grid-template-rows: 187px 187px 187px 187px;
  }
  .portfolio .grid img {
    width: 216px;
    height: 183px;
  }
}

@media (max-width: 376px) {
  .universal__wrapper {
    max-width: 376px;
  }
  .universal__wrapper__block {
    max-width: 315px;
  }
  .header {
    width: 376px;
    height: 71px;
  }
  .header .header__logo {
    position: absolute;
    width: 92px;
    height: 24px;
    top: 24px;
    bottom: 23px;
    right: 135px;
    left: 148px;
    font-weight: 700;
    font-size: 19.68px;
    line-height: 24px;
  }
  .header .header__nav {
    opacity: 0;
  }
  .header .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 25px;
    height: 20px;
    top: 26px;
    right: 330px;
    bottom: 25px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .header .menu__btn > span,
  .header .menu__btn > span::before,
  .header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .header .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .header .menu__box {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #2d303a;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .header .menu__box li {
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    text-align: left;
    position: relative;
    top: 232px;
    left: 71px;
  }
  .header .menu__box .menu__item {
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    position: static;
    color: #FFFFFF;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin: 27px 0px;
  }
  .header .menu__item:hover {
    background-color: #CFD8DC;
  }
  .header #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .header #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .slider {
    width: 376px;
    height: 218px;
  }
  .slider .slider__content {
    height: 177.61px;
    width: 292.72px;
    top: 20px;
    right: 41px;
    bottom: 20px;
    left: 41px;
  }
  .slider .slider__controls {
    height: 24px;
    width: 355px;
    left: 10.25px;
    top: 98.45px;
    right: 9.64px;
    bottom: 95.03px;
  }
  .slider .slider__controls .left {
    top: 98.45px;
    right: 351.17px;
    bottom: 95.03px;
    left: 10.25px;
    border-radius: 3px;
  }
  .slider .slider__controls .right {
    top: 98.45px;
    right: 9.64px;
    bottom: 95.03px;
    left: 351.77px;
    border-radius: 3px;
  }
  .service {
    width: 376px;
    height: 1150px;
  }
  .service .service__header h2 {
    top: 25.6px;
    left: 33px;
  }
  .service .service__header p {
    width: 297px;
    height: 214px;
    left: 33px;
    top: 79.6px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
  .service .service__cells {
    top: 318.6px;
    width: 314px;
    height: 339px;
    top: 298px;
    left: 33px;
  }
  .service .service__cells .service__items {
    height: 140px;
  }
  .portfolio {
    width: 376px;
    height: 2540px;
  }
  .portfolio .portfolio__header {
    position: inherit;
    height: 152px;
    width: 315px;
    left: 30px;
    top: 42px;
    right: 33px;
    bottom: 652px;
  }
  .portfolio .portfolio__header h2 {
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    top: 42px;
    right: 850px;
    left: 30px;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
  }
  .portfolio .portfolio__header p {
    display: block;
    position: absolute;
    width: 308px;
    height: 46.95px;
    top: 96px;
    right: 44px;
    bottom: 704.18px;
    left: 30px;
    font-weight: 300;
    color: #767E9E;
  }
  .portfolio .portfolio__button {
    position: absolute;
    width: 290px;
    height: 22px;
    top: 202px;
    right: 55px;
    bottom: 620px;
    left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .button__item, .portfolio .button__item1 {
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 3px;
    margin-right: 6px;
    color: #767E9E;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
  .portfolio .button__item1 {
    color: #DEDEDE;
    border-color: #BBBBBB;
  }
  .portfolio .grid {
    display: -ms-grid;
    display: grid;
    height: 793.99px;
    width: 315px;
    bottom: 65.4px;
    top: 249px;
    left: 30px;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -ms-grid-rows: 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px;
        grid-template-rows: 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px 187px;
  }
  .portfolio .grid img {
    width: 300px;
    height: 183px;
  }
  .footer {
    background-color: #2D303A;
    height: 76px;
  }
  .footer .footer__buttoms__icons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 152px;
    height: 32px;
    top: 22px;
    right: 111px;
    bottom: 22px;
    left: 112px;
  }
  .footer .footer__buttoms__icons img {
    width: 32px;
    height: 32px;
  }
  .footer .copyright {
    opacity: 0;
  }
}
/*# sourceMappingURL=media-queries.css.map */