@import "null_style.css";

html {
    font-size: 10px;
    font-family: "Lato", "Verdana", sans-serif;
    font-style: normal;
    font-weight: bold;
}

body{
    box-sizing: border-box;
}

.header{ 
    height: 89px;
    background-color:#2D303A;
    border-bottom: 6px solid #323746;
    
.universal__wrapper{
    height: 228px;
    width: 940px; 
    margin: 0 auto;

.header__logo{
    height: 25px;
    width: 124px;
    position: absolute;
    left: 40px;
    top: 29px;  
    bottom: 35px; 
    right: 856px;     
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #ffffff;
    
& span{
    color: #f06C64;
    }
}

.header__nav{
    width: 375px;
    height: 14px;
    position: absolute;
    right: 40px;
    top: 42px;
    bottom: 39px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.035em;
    
.header__button__other{
    color: #ffffff;
    text-decoration: none;

&::after{
    content: ".";
    color: white;
    position: relative;
    left: 0.8em;
    bottom: 3px;
    }
}
    
.header__button__home{
    color: #f06c64;
    text-decoration:none;    

&::after{
    content: ".";
    color: white;
    position: relative;
    left: 0.8em;
    bottom: 3px;
    }
}

.header__button__last{
    color: #ffffff;
    text-decoration: none;
    }    
} 
}
}

.slider {
    display: block;
    height: 600px;
    left: 0px;
    top: 95px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    
.slider__content{  
    height: 483px;
    width: 796.0001220703125px;
    left: 111.9998779296875px;
    top: 149px;
    border-radius: 0px;    
}  

& img{
    position: relative;
    top:54px;
    right:112px;
    bottom:57px;
    left:112px;
}    

.slider__controls{
    height: 27px;
    width: 940px;
    left: 40px;
    top: 378px;
    border-radius: 3px;
.left{
   position: absolute;
   top: 378px;
   right: 964px;
   bottom: 284px;
   left: 40px; 
}
.right{
    position: absolute;
    top: 378px;
    right: 40px;
    bottom: 284px;
    left: 964px; 
 }
}
}

