@import "null_style.css";


html {
    font-size: 10px;
    font-family: "Lato", "Verdana", sans-serif;
    font-style: normal;
    font-weight: bold;
    scroll-behavior: smooth;
}
// @media screen {
//     min-width:1600px;
// }
body{
    box-sizing: border-box;
    min-width: 1600px;
}



.universal_wrapper{
    max-width: 1020px;
    margin:0 auto;
    position: relative;
}

.universal__wrapper__block{
    width: 940px;
    margin:0 auto;    
}

.header{ 
    position: sticky;
    top: 0;
    height: 89px;
    z-index: 2;
    background-color:#2D303A;
    border-bottom: 6px solid #323746;
    
    
.header__logo{
    height: 25px;
    width: 124px;
    position: absolute;
    left: 40px;
    top: 29px;  
    bottom: 35px; 
    right: 856px;     
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #ffffff;
    
& span{
    color: #f06C64;
    }
}

.header__nav{
    width: 375px;
    height: 14px;
    position: absolute;
    right: 40px;
    top: 42px;
    bottom: 39px;
    left: 605px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.035em;
    
.header__button__other{
    color: #ffffff;
    text-decoration: none;

&::after{
    content: ".";
    color: white;
    position: relative;
    left: 10px;
    bottom: 3px;
    }
}
    
.header__button__home{
    color: #f06c64;
    text-decoration:none;    

&::after{
    content: ".";
    color: white;
    position: relative;
    left: 10px;
    bottom: 3px;
    }
}

.header__button__last{
    color: #ffffff;
    text-decoration: none;
    }    
} 
}

.slider {
    display: block;
    height: 600px;
    left: 0px;
    top: 95px;
    z-index: 1;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    
    
.slider__content{  
    height: 483px;
    width: 796.0001220703125px;
    left: 111.9998779296875px;
    top: 149px;
    border-radius: 0px;    
}  

& img{
    position: relative;
    top:54px;
    right:112px;
    bottom:57px;
    left:112px;
}    

.slider__controls{
    height: 27px;
    width: 940px;
    left: 40px;
    top: 378px;
    border-radius: 3px;
.left{
    position: absolute;
    top: 283px;
    right: 964px;
    bottom: 284px;
    left: 40px; 
}
.right{
    position: absolute;
    top: 283px;
    right: 40px;
    bottom: 284px;
    left: 964px; 
}
}
}

.service{
    display: block;
    position: relative;
    height: 494px;
    background-color:#f2f2f2;
    border-bottom: 6px solid #ffffff;

.service__header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: inherit;
    height: 173px;
    width: 936px;
    top: 59px; 
    right: 44px; 
    bottom: 334px; 
    left: 40px;
& h2{
    display:grid;
    position: absolute;
    top: 59px;
    right: 809px;
    bottom: 399px;
    left: 40px;
    height: 36px;
    width: 190px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
    text-align: left;
    margin-bottom: 18px;
}  
& p{
    display: grid;
    position: absolute;
    width: 936px;
    height: 47px;
    left: 40px;
    top: 113px;
    right: 44px;
    bottom: 334px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    text-align: justify;
    
}  
}
.service__cells{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-content: space-between;
    position: absolute;
    height: 228px;
    width: 940px;
    left: 40px;
    right:40px ;
    bottom:46px ;
    top: 220px;
    border-radius: 0px;
    margin-bottom: 46px;
.service__items{
    display: flex;
    position: relative;
    justify-content:space-between;
    flex-direction: row-reverse;
    width: 300px;
    height: 104px
}
.service__icon{
    position: inherit;
    width:60px;
    height:60px;
}
.service__text{
    display: block;
    width:220px;
    height:77px;
    text-align: left;
h3{
    margin-bottom: 7px;
    height:20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
    }
p{
    width: 220px;
    height: 77px;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
    }
}
}
} 

.portfolio{
    display: block;
    height: 864px;
    background-color:#2D303A;;
    border-bottom: 6px solid  #323746;
    position: relative;

.portfolio__header{
    position: inherit;
    height: 100.82px;
    width: 936px;
    left: 40px;
    top: 59px;
    right: 44px;
    bottom:704.18px;            
& h2{
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    top: 59px;
    right:850px;
    left: 40px;
    bottom:765px;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
    font-family: 'Lato';
    font-style: normal;
}
& p{   
    display: block; 
    position: absolute;
    width: 936px;
    height: 46.95px;
    top: 112.87px;
    right:44px;
    bottom:704.18px;
    left:40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
}
}

.portfolio__button{ 
    position: absolute;
    width:290px;
    height:22px;
    top:155px ;
    right:690px;
    bottom:687px;
    left:40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
.button__item,.button__item1{
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 3px;
    margin-right: 6px;
    color: #767E9E;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.button__item1{
    color: #DEDEDE;
    border-color: #BBBBBB;
}
.grid {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    height: 601px;
    width: 940px;
    top: 195px;
    right: 40px;
    bottom: 68px;
    left: 40px;
}
}

.footer{
    background-color: #2D303A;
    height: 76px;
.footer__buttoms__icons{
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 152px;
    height: 32px;
    top: 22px;
    right: 42px;
    bottom: 22px;
    left: 826px;
& img{
    width: 32px;
    height: 32px;
}        
}
.copyright{
    position: absolute;
    width: 130px;
    height: 17px;
    top: 30px;
    right: 862px;
    bottom: 29px;
    left: 40px;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
}
}

